
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

b {
  font-weight:600;
}

.vissionmission{
  background-color: #eee;
 
  

}
.topnavbar{
  background-blend-mode:overlay ;
  background-color:rgba(255, 255,255, 0.8);
}
.aboutcard{
  background-blend-mode:overlay ;
  background-color:rgba(255, 255, 255, 0.315);
  /* box-shadow: rgba(54,186,36, 0.4) -5px 5px, rgba(54,186,36, 0.3) -10px 10px, rgba(54,186,36, 0.2) -15px 15px, rgba(54,186,36, 0.1) -20px 20px, rgba(54,186,36, 0.05) -25px 25px; */

}

.navlink{
    display: inline-block;
    position: relative;
    /* color: #0087ca; */
  }
  
  .navlink {
    display: inline-block;
    position: relative;
    /* color: #0087ca; */
  }
  
  .navlink:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #36BA24;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .navlink:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  



.contactussection{
  background-color:#d9e9f65f;
}

/* .faqsection{
  background-color:#ebebeb5f;
} */

[type='checkbox']{
  color:#36BA24;
}
 
.contactleftinformation{
  background-blend-mode:overlay ;
  background-color:rgba(255, 255, 255, 0.615);
}
.Aboutheading{
  color:#36BA24;
}
.aboutussection{
  background-color:#EDE2EB;
}

.headingcolor{
  color:#36BA24;
}

/* .font-bold.text-xl.mb-2 {
  color:#36BA24;
} */
.footersection {
  background-color:#052e16;
  bottom:0;
  
}
.footersectionlinkss{
  color:#fff;
}

.footersectionlinkss:hover{
 color:#36BA24;
}

a.footersectionlinks:hover {
  color:#36BA24;

}

.bgcolor{
  background-color: #36BA24;
}
.bgcolor:hover{
  background-color: 	#289f19;
}

/* .registrationbgimg{
  width:100%;
  height:100%;
  
  
} */

.icon {
  position: relative;
  color: #fff;
  transition: .6s;
  z-index: 3;
}

.social_icon:hover .icon {
  color: #fff;
  cursor:pointer;
  transform: rotateX(360deg);
}



.registrationpage{
  background-blend-mode: overlay;
  /* background-color: rgba(0, 0, 0, 0.444); */
  /* background-image: linear-gradient(180deg,rgba(255, 255, 255, 0.195)  100%,  rgba(87, 143, 78, 0.274) 0%); */
  /* background-image: linear-gradient(180deg,rgba(255, 255, 255, 0.24)  100%,  rgba(87, 143, 78, 0.274) 0%); */
  background-color:rgb(0,0,0,0.3);
  margin-left: 10%;
  margin-right:10%;
  margin-top:4%;
}
/* .registrationpage1{
  background-blend-mode:overlay;
background-color:rgb(0,0,0,0.2)
} */

.dashboardbanner{
  position:relative;
}
.dashboardcontainer{
  position:absolute;
  bottom:0;
  transform: translateY(+50%);
}
.dashboardbody{
  background-color:#F1F1F1;
}

.dashboard-center-container{
  height:50rem;
}
.dashboardbuttons{
   cursor:pointer;
}

 /* dashboard button animation */
.dashboardbuttons:hover .uparrow {
  animation: shake 0.5s ease-in-out;
}

.dashboardinfocard{
  background-blend-mode: overlay;
  /* background-color:rgb(0,0,0,0.2); */
  background-color:rgb(255,255,255,0.2);
 
}
.dashboardinfocard1{
  background-blend-mode: overlay;
  background-color:rgb(0,0,0,0.1);
  /* background-color:rgb(255,255,255,0.2); */
 
}
.bannerpara{
  background-blend-mode: overlay;
  background-color:#0000003D; 
}
.uparrow{
  transition: transform 0.5s;

}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
/* dashboard animation complete */


.card {
  color: var(--clr-neutral-100);
  /* background-image: url(https://media.contentapi.ea.com/content/dam/eacom/images/2020/09/ea-featured-image-ea-desktop-beta.jpg.adapt.crop191x100.1200w.jpg); */
  background-image: url(https://img.freepik.com/free-photo/silhouette-young-male-walking-staircase-stair-rails-with-beautiful-sunset-view_181624-3314.jpg?w=360&t=st=1707377332~exp=1707377932~hmac=7bd43d37dbd92269f0ac7a86d48c4362602535d47d46b0af3bf127c849838496);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
  object-fit: contain;
  
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0.3) 20%,
    hsl(0 0% 0% / 1)
  );
}

.card-title {
  position: relative;
  width: max-content;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  width: calc(100% + var(--padding));
  left: calc(var(--padding) * -1);
  bottom: -2px;
  background: var(--clr-accent-400);
  transform-origin: left;
  transition: transform 500ms ease;
}

@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }

  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .card:hover .card-content > *:not(.card-title),
  .card:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 700ms;
  }

  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card:focus-within .card-content {
    transition-duration: 0ms;
  }

  .card-title::after {
    transform: scaleX(0);
  }
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 0.25rem;
}

.button:hover,
.button:focus {
  background-color: var(--clr-neutral-100);
}

.card-body {
  color: rgb(255, 255, 255/0.85);
}




.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


 /* curvy line for banner */
 .shapedividers_com-4475{
  overflow:hidden;
  position:relative;
  }
  .shapedividers_com-4475::before{
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat; 
  background-size: 100% 90px;
  background-position: 50% 0%;    
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fbd8c2"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fbd8c2"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fbd8c2"/></svg>'); 
  }
  
  @media (min-width:768px){
  .shapedividers_com-4475::before{
  background-size: 100% 90px;
  background-position: 50% 0%;   
  }  
  }
   
  @media (min-width:1025px){
  .shapedividers_com-4475::before{ 
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 210% 129px;
  background-position: 8% 100%;  
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" fill="%23ede2eb"/></svg>'); 
  }
  }
  @media (min-width:2100px){
  .shapedividers_com-4475::before{
  background-size: 210% calc(2vw + 129px);
  }
  }
   
   
  /* curvy line for banner ends*/


/* some special css */


/* some special css ends */

  







@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}







@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    font-family: system-ui, 'Dancing Script', 'Helvetica Neue';
    font-size:17px;
}



